* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    padding-right: 5px;
}

.col-3 p {
    margin-top: 0px;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1 {
    font-size: 3.7em;
    color: #2d3c49;
}

@media screen and (max-width: 340px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  color: #7d97ad;
  font-size: 2.9em;
}

@media screen and (min-width: 1000px) {
  main img {
    width: 1600px;
  }
}

h3 {
  font-size: 2.6em;
  font-weight: bolder;
  color: #2d3c49;
}

a {
  font-size: 1.2em;
  color: #2d3c49;
}

.project_section img {
  max-height: 192px;
}

main img {
  max-height: 450px;
}

#logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

#line {
  border-bottom: solid 5px #7d97ad;
  margin-left: 12px
}

#subtitle {
  padding-bottom: 25px;
  font-size: 1.6em;
  padding-top: 0.2em;
}
